@font-face {
  font-family: 'Geist';
  src: url('https://cdn.jsdelivr.net/npm/geist@1.5.1/dist/fonts/geist-sans/Geist-Regular.woff2')
    format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('https://cdn.jsdelivr.net/npm/geist@1.5.1/dist/fonts/geist-sans/Geist-Medium.woff2')
    format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('https://cdn.jsdelivr.net/npm/geist@1.5.1/dist/fonts/geist-sans/Geist-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('https://cdn.jsdelivr.net/npm/geist@1.5.1/dist/fonts/geist-sans/Geist-Bold.woff2')
    format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('https://cdn.jsdelivr.net/npm/geist@1.5.1/dist/fonts/geist-mono/GeistMono-Regular.woff2')
    format('woff2');
  font-weight: 400;
}

:root {
  --ds-background-100: #0a0a0a;
  --ds-background-200: #171717;
  --ds-gray-1000: #ededed;
  --ds-gray-900: #a1a1a1;
  --ds-gray-400: #737373;
  --ds-blue-700: #0070f3;
  --ds-green-700: #46a758;
  --ds-amber-700: #ffb224;
  --ds-red-700: #e5484d;
}
